1. Print 'Hello, World!'

In [7]:
print('Hello, World!')

Hello, World!

2. Add two numbers

In [10]:
def add_numbers(a, b):
    return a + b

num1 = 5
num2 = 3
print(add_numbers(num1, num2))

8

3. Find the square root of a number

In [13]:
import math

def square_root(num):
    return math.sqrt(num)

print(square_root(16))

4.0

4. Calculate the area of a triangle

In [16]:
def triangle_area(base, height):
    return 0.5 * base * height

base = 5
height = 10
print(triangle_area(base, height))

25.0

5. Swap two variables

In [19]:
a = 5
b = 10

a, b = b, a
print("a =", a)
print("b =", b)

a = 10
b = 5

6. Generate a random number

In [24]:
import random

print(random.randint(1, 100))

64

 7. Convert kilometers to miles

In [27]:
def km_to_miles(km):
    return km * 0.621371

kilometers = 5
print(km_to_miles(kilometers))

3.106855

8. Check if a number is positive, negative, or zero

In [36]:
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

print(check_number(11))

Positive

9. Check if a number is odd or even

In [43]:
def odd_or_even(num):
    return "Even" if num % 2 == 0 else "Odd"

print(odd_or_even(10))

Even

10. Check if a year is a leap year

In [46]:
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

print(is_leap_year(2020))

True

11. Find the largest of three numbers

In [49]:
def largest_of_three(a, b, c):
    return max(a, b, c)

print(largest_of_three(1, 5, 3))

5

12. Find the factorial of a number

In [56]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(2))

2

13. Display the multiplication table

In [59]:
def multiplication_table(num):
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

14. Print the Fibonacci sequence

In [62]:
def fibonacci(n):
    a, b = 0, 1
    while n > 0:
        print(a, end=' ')
        a, b = b, a + b
        n -= 1

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

15. Check if a number is an Armstrong number

In [65]:
def is_armstrong(num):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    return num == sum

print(is_armstrong(153))

True

16. Find the sum of natural numbers

In [72]:
def sum_of_natural_numbers(n):
    return n * (n + 1) // 2

print(sum_of_natural_numbers(10))

55

17. Find the sum of digits of a number

In [75]:
def sum_of_digits(num):
    sum = 0
    while num > 0:
        sum += num % 10
        num //= 10
    return sum

print(sum_of_digits(1234))

10

18. Reverse a number

In [81]:
def reverse_number(num):
    reversed_num = 0
    while num > 0:
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num //= 10
    return reversed_num

print(reverse_number(1234))

4321

19. Convert decimal to binary, octal, and hexadecimal

In [84]:
def convert_number(num):
    return bin(num), oct(num), hex(num)

print(convert_number(10))

('0b1010', '0o12', '0xa')

20. Find HCF or GCD of two numbers

In [87]:
import math

def gcd(a, b):
    return math.gcd(a, b)

print(gcd(54, 24))

6

21. Find LCM of two numbers

In [90]:
def lcm(a, b):
    return abs(a*b) // math.gcd(a, b)

print(lcm(54, 24))

216

22. Count the number of each vowel in a string

In [93]:
def count_vowels(string):
    vowels = "aeiou"
    count = {vowel: string.lower().count(vowel) for vowel in vowels}
    return count

print(count_vowels("Hello World"))

{'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

23. Remove punctuation from a string

In [98]:
import string

def remove_punctuation(input_string):
    return input_string.translate(str.maketrans('', '', string.punctuation))

print(remove_punctuation("Hello"))

Hello

24. Sort a list of numbers in ascending order

In [101]:
def sort_numbers(num_list):
    return sorted(num_list)

print(sort_numbers([5, 2, 9, 1, 5, 6]))

[1, 2, 5, 5, 6, 9]

25. Merge two lists and sort it

In [104]:
def merge_and_sort(list1, list2):
    return sorted(list1 + list2)

print(merge_and_sort([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]