#### Complex number : 
complex numbers are supported as a built-in data type. They are represented using the complex.the syntax real_part + imaginary_part*j, where j or J denotes the imaginary unit.

In [1]:
# Creating complex numbers

In [5]:
z1 = 3 + 4j   # 3 + 4i
z2 = 1 - 2j   # 1 - 2i

In [8]:
z1

(3+4j)

In [9]:
z2

(1-2j)

In [10]:
z1+z2

(4+2j)

In [11]:
type (z2)

complex

#### operation on string

In [3]:
print("  python" * 5)

  python  python  python  python  python

In [4]:
print(" 7 " * 50)

 7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7

In [8]:
print(" boy " + 56)  # add string and integer

TypeError: can only concatenate str (not "int") to str

In [12]:
print (" Ravi " + "5")

 Ravi 5

In [14]:
print(" hello "  + str(50))

 hello 50

### DATA STRUCTURE IN PYTHON

#####  Data structure  which can hold,store and save out data . data structure is a way of organizing and storing data so it can be accessed and modified efficiently . 
python provides several built-in data structure are :

1. LIST
2. TUPLE
3. SET
4. DICTIONARY

### 1.  LIST : 
##### A list is a collection of different kinds of values or items. Since Python lists are mutable, we can change their elements after forming. The comma (,) and the square brackets [enclose the List's items] serve as separators.

In [15]:
a = []

In [16]:
type(a)

list

In [17]:
a = [ "ram" , 45 , 8.21 , "ravi"] # creating list

In [18]:
print(type(a))

<class 'list'>

In [19]:
print(a)

['ram', 45, 8.21, 'ravi']

In [20]:
# create copy list

In [21]:
new_list = a

In [22]:
print (new_list)

['ram', 45, 8.21, 'ravi']

In [23]:
# different method of copy list

In [24]:
name = ["aman" , 34, 2.0 , "rohit" , 101]
print(name)

['aman', 34, 2.0, 'rohit', 101]

In [25]:
new_name = name.copy()  # copy method in list
print(new_name)

['aman', 34, 2.0, 'rohit', 101]

In [26]:
new_name

['aman', 34, 2.0, 'rohit', 101]

In [27]:
list ('new_name')  #seprate all elements

['n', 'e', 'w', '_', 'n', 'a', 'm', 'e']

In [28]:
list ('aman kumar')

['a', 'm', 'a', 'n', ' ', 'k', 'u', 'm', 'a', 'r']

In [29]:
list (1004)    # integer is not iterable

TypeError: 'int' object is not iterable

# method in list are : 
 * 1 append()
 * 2 extend()
 * 3 insert()
 * 4 remove()
 * 5 pop()
 * 6 clear()
 * 7 index() 
 * 8 count()
 * 9 short()
 * 10 reverse()
 * 11 copy()
 * 12 length()

#### append(x): Adds an item to the end of the list.

In [11]:
my_list = ["aman"]
my_list.append(100)

In [13]:
my_list

['aman', 100]

In [26]:
my_list.append("world" , 103)

TypeError: list.append() takes exactly one argument (2 given)

 * #### extend(iterable): Extends the list by appending all the items from the iterable.

In [32]:
my_list.extend(["hello","tom",234])
my_list

['aman', 100, 'world', 'hello', 'tom', 234]

 * #### insert(i, x): Inserts an item at a given position.

In [51]:
my_list.insert(2 , "int")
my_list

['aman', 100, 'int', 'world', 'hello', 'tom', 234]

In [53]:
my_list.insert(0 , "sky")
my_list

['sky', 'aman', 100, 'int', 'world', 'hello', 'tom', 234]

* #### remove(x): Removes the first item from the list that has a value of x.

In [60]:
my_list.remove(100)
my_list

['sky', 'aman', 'int', 'world', 'hello', 'tom', 234]

In [62]:
my_list.remove("int")
my_list

['sky', 'aman', 'world', 'hello', 'tom', 234]

In [66]:
my_list.remove("sky" , 234)
my_list

TypeError: list.remove() takes exactly one argument (2 given)

* #### pop([i]): Removes and returns the item at the given position in the list. If no index is specified, pop() removes and returns the last item in the list.

In [71]:
my_list

['aman', 'world', 'hello', 'tom', 234]

In [73]:
my_list.pop()  # remove the last item

234

In [75]:
my_list

['aman', 'world', 'hello', 'tom']

In [77]:
my_list.pop(3)  # Remove the item at index 2
my_list

['aman', 'world', 'hello']

In [79]:
my_list.pop(0 , 1)
my_list

TypeError: pop expected at most 1 argument, got 2

 * #### clear(): Removes all items from the list.

In [82]:
my_list

['aman', 'world', 'hello']

In [88]:
my_list.clear()
my_list

[]

In [90]:
my_list

[]

In [122]:
my_list =[ "ravi" , "rakesh" , 235 ,"amit" ]
my_list

['ravi', 'rakesh', 235, 'amit']

* #### index : This method return position number of first occurrence of given element in the list .  if it doesn't found the element Shows value Error.
* syntax : List_name.index(element)

In [124]:
my_list

['ravi', 'rakesh', 235, 'amit']

In [126]:
my_list.index("rakesh")

1

In [128]:
my_list.index( 235)

2

In [130]:
my_list

['ravi', 'rakesh', 235, 'amit']

In [132]:
len(my_list)   # finding length

4