# Range Function in python

The range() function in Python is used to generate a sequence of numbers. It's commonly used in for-loops to iterate over a sequence of numbers. The range() function can take one, two, or three arguments:

Syntax
range(stop)
range(start, stop)
range(start, stop, step)

In [2]:
print(range(50))

range(0, 50)

In [20]:
for i in range(10,50,5):
 print (i)

10
15
20
25
30
35
40
45

In [16]:
print(list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
print(list(range(10 ,20,2)))

[10, 12, 14, 16, 18]

In [25]:
# store range function in a new variable

In [26]:
new = list(range(10,20,2))

In [27]:
new

[10, 12, 14, 16, 18]

In [ ]:
 # using reverse function in a list

In [68]:
reverse = list(range(100, 20,-5))

In [69]:
reverse

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25]

In [30]:
reverse_=list(range(1600,99,-100))

In [31]:
reverse_

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

In [35]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [36]:
my_string = "AMAN"
reversed_string = my_string[::-1]
print(reversed_string)

NAMA

# loop function in python

In Python, loops are used to execute a block of code repeatedly. There are two main types of loops in Python: for loops and while loops.
1. for loop
2. while loop

  1. for Loop
The for loop is used for iterating over a sequence (such as a list, tuple, dictionary, set, or string).

In [39]:
fruits = ["apple", "banana", "cherry"]    #  using for loop
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [40]:
for char in "hello":
    print(char)

h
e
l
l
o

In [43]:
name = ['aman', 'ashish', 'ravi', 'ujjwal']

['aman', 'ashish', 'ravi', 'ujjwal']

In [48]:
for num in name:
    print(num)

aman
ashish
ravi
ujjwal

2. while Loop
The while loop continues to execute a block of code as long as a specified condition is True.

In [41]:
i = 0
while i < 5:
    print(i)
    i = i+1

0
1
2
3
4

# Break statement

break Statement :
The break statement is used to exit a loop prematurely when a certain condition is met.

In [42]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [50]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [51]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Jsut Pass")
    else:
        print(marks ,"You are fail, please try next time")

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

# list compresension in python

 What is list comprehension ? List comprehension is a shorter syntax when you want to create a new list  based ,-
 on the values of existing list.

In [52]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]

In [53]:
sal=[val for val in salary if val==2000]

In [54]:
sal

[2000, 2000]

In [55]:
#for loop with else

In [70]:

for num in range(10,15):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 10
10
20
30
40
50
60
70
80
90
100


Multiplication table for 11
11
22
33
44
55
66
77
88
99
110


Multiplication table for 12
12
24
36
48
60
72
84
96
108
120


Multiplication table for 13
13
26
39
52
65
78
91
104
117
130


Multiplication table for 14
14
28
42
56
70
84
98
112
126
140


******************************
Thats all
******************************

In [57]:
# another way of print multiplication table.

In [58]:

num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table 12

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

# F-String in python


F-strings (formatted string literals) in Python provide a concise and readable way to include expressions inside string literals. Introduced in Python 3.6, f-strings are prefixed with an f or F before the opening quote, and expressions are enclosed in curly braces {} within the string.

In [61]:
name = "roy"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

Hello, my name is roy and I am 30 years old.

In [62]:
def to_uppercase(s):
    return s.upper()

name = "Bob"
message = f"Hello, {to_uppercase(name)}!"
print(message)

Hello, BOB!

In [63]:
person = {"name": "Charlie", "age": 25}
info = f"{person['name']} is {person['age']} years old."
print(info)

Charlie is 25 years old.

# zip function in python

The zip() function in Python is used to combine multiple iterables (like lists, tuples, etc.) into a single iterable of tuples. Each tuple contains elements from the corresponding position in each of the input iterables.

In [64]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [65]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

zipped = zip(tuple1, tuple2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [66]:
list1 = [1, 2, 3]
list2 = ['a', 'b']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b')]

In [67]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]

dictionary = dict(zip(keys, values))
print(dictionary)

{'name': 'Alice', 'age': 30, 'city': 'New York'}